.box{
    margin: auto;
    border: thick solid blue;
    width: 40%;
    height: 75vh;
    border-radius: 50%;
    background-color: blue;
}
.box2{
    margin: auto;
    border: thick solid brown;
    width: 34%;
    height: 63vh;
    border-radius: 50%;
    margin-top: -33em;
    background-color:brown;
}
.box3{
    margin: auto;
    border: thick dotted yellow;
    width: 27%;
    height: 49vh;
    border-radius: 50%;
    margin-top: -27em;
    background-color:yellow;

}
.box4{
    margin: auto;
    border: thick dotted green;
    width: 20%;
    height: 35vh;
    border-radius: 50%;
    margin-top: -20em;
    background-color: green;

}