#box1{
    border: thick solid brown;
    min-height: 85vh;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    position: relative;
    }
#circle1{
    /* border: thick solid; */
    width: 30%;
    height: 45vh;
    border-radius: 50%;
    position: absolute;
    left: 24%;
    bottom: 40%;
    /* background-blend-mode: multiply; */
    background-color: rgba(233, 58, 58, 0.905);
    mix-blend-mode: screen;
    
    
    
    

    
}

#circle2{
    /* border: thick solid; */
    width: 30%;
    height: 45vh;
    border-radius: 50%;
    position: absolute;
    right: 22%;
    bottom: 40%;
    background-color: rgba(14, 14, 225, 0.927);
    mix-blend-mode: screen;
    
     
    

}
#circle3{
    /* border: thick solid; */
    width: 30%;
    height: 45vh;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    background-color: rgba(13, 214, 97, 0.771); 
    mix-blend-mode: screen;
    left: 35%;
    
    
    
}
